<ion-header>
  <ion-navbar secondary>
    <ion-title>
      <ion-icon name="compass"></ion-icon> Profil de risque</ion-title>
    <ion-buttons end>
      <button ion-button  (click)="close()">Fermer</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="decouverte">
  <button ion-button (click)="calcProfil()"><ion-icon name="calculator"></ion-icon>&nbsp;Calculer le profil</button>
  <div *ngFor="let f of lstForms">
    <flex-list *ngIf="f.pres=='list'" [idPage]=idPage [idForm]=f.id [formTitle]=f.title [dataIn]=dataIn [idClient]=idClient></flex-list>
    <flex-input *ngIf="f.pres=='detail'" [idPage]=idPage [idForm]=f.id [formTitle]=f.title [dataIn]=dataIn [idClient]=idClient></flex-input>
  </div>
  <button ion-button (click)="calcProfil()"><ion-icon name="calculator"></ion-icon>&nbsp;Calculer le profil</button>
</ion-content>