page-home {

}
.logoHeader {
    display:flex;
    align-items: center;
}
.logoHeader img{
    max-width: 30%;
    height: auto;
    vertical-align: middle;
}
.action{
    margin-left: 16px;
    font-size: 20px;
}
