page-home {
    ion-card img {
    display: block;
    width: 100%;
    max-height: 200px;
    }
    
}
.logoHeader {
    display:flex;
    align-items: center;
}
.logoHeader img{
    max-width: 30%;
    height: auto;
    vertical-align: middle;
}
.action{
    margin-left: 16px;
    font-size: 20px;
}
