<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>
        <ion-icon name="cog"></ion-icon> Comptes et Outils</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="goHome()"><ion-icon color="danger" item-left name="home"></ion-icon>Accueil</button>
      <button menuClose no-lines ion-item *ngFor="let p of pages" (click)="openPage(p)" [color]="p.color">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
      <ion-item-divider>
        <ion-icon name="contacts" color="danger"></ion-icon>
        <span *ngIf="isAuth">Votre compte : {{userData.name}}</span>
      </ion-item-divider>
      <button menuClose ion-item *ngIf="!isAuth" (click)="connect()"><ion-icon item-left name="log-in"></ion-icon>Connexion</button>
      <button menuClose ion-item *ngIf="isAuth" (click)="disConnect()"><ion-icon item-left name="log-out"></ion-icon>Déconnexion</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>